@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@800&display=swap");

* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

:root {
    --color-one: #f58714;
    --color-two: #f64d64;
    --color-o: #85e535;
}

.flexBox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fullScreen {
    height: 100vh;
    width: 100vw;
}

.pageTransition {
    bottom: 0;
    transition: all 2s;
    position: absolute;
}

button {
    cursor: pointer;
    border: none;
    border-radius: 30px;
    transition: all 0.1s ease-in;
}

input, img, .boxes {
    cursor: pointer;
}

.x-common {
    position: relative;
    transform: rotate(-45deg);
    border-radius: 3rem;
}

.o-common {
    border-radius: 5rem;
}

.flexColumn {
    flex-direction: column;
}

.x-common::before {
    content: "";
    position: absolute;
    border-radius: inherit;
    width: inherit;
    transform: rotate(90deg);
}

/* Welcome Section */

#welcomeSection {
    background: linear-gradient(var(--color-one), var(--color-two));
    z-index: 3;
}

#welcomeSection i {
    color: white;
    font-family: sans-serif;
    font-size: 4rem;
    margin-bottom: 5rem;
}

#symbolBox {
    width: 10rem;
    justify-content: space-evenly;
    margin-left: 4rem;
    margin-bottom: 4rem;
}

#welcomeSection div div:nth-child(1) {
    width: 2rem;
    height: 10rem;
    background-color: white;
}

#welcomeSection div div:nth-child(1)::before {
    height: 16rem;
    background-color: inherit;
    left: 3rem;
}

#welcomeSection div div:nth-child(2) {
    width: 5.1rem;
    border: 25px solid #ffffffa1;
    height: 5.1rem;
    margin-left: 42px;
}

#welcomeBtnBox button {
    background-color: white;
    color: black;
    width: 21rem;
    font-weight: bolder;
    font-size: 1.4rem;
    height: 3rem;
    margin: 18px 0;
    font-family: sans-serif;
}

#welcomeBtnBox button:hover {
    color: white;
    background-color: black;
}

/* Sign Section */
#signSection {
    z-index: 2;
    background-color: #fafafa;
}

#signSection p {
    font-size: 2.6rem;
    font-family: "Baloo Bhai 2", cursive;
    font-weight: bolder;
}

#signForm button {
    font-family: sans-serif;
    font-weight: bolder;
    color: white;
    font-size: 1.3rem;
    padding: 0.9rem 7rem;
    background: linear-gradient(45deg, var(--color-one), var(--color-two));
}

#signForm button:hover {
    background: linear-gradient(-45deg, var(--color-one), var(--color-two));
}

#signForm div div:nth-child(1) label {
    height: 9.2rem;
    width: 2rem;
    background: linear-gradient(180deg, var(--color-one), var(--color-two));
}

#signForm div div:nth-child(1) label::before {
    height: inherit;
    background: linear-gradient(180deg, var(--color-one), var(--color-two));
}

#signForm div div:nth-child(2) label {
    width: 7.7rem;
    height: 7.7rem;
    border: 2.4rem solid var(--color-o);
    margin-top: 13px;
}

#signForm div div {
    margin: 98px 2rem;
    width: 9.2rem;
    height: 12rem;
    justify-content: space-between;
}

#signForm div div input {
    outline-offset: 3.5px;
    appearance: none;
    height: 13px;
    width: 13px;
    border-radius: 50%;
    outline: 4px solid #969696;
}

#signForm div div input:checked {
    background-color: var(--color-one);
    outline: 4px solid var(--color-one);
}

/* Game Section */
#gameSection {
    z-index: 1;
    justify-content: space-between;
    height: 100vh;
}

#gameGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 64vmin;
    width: 61vmin;
    padding: 42px;
    border-radius: 13px;
    box-shadow: 0px 0px 14px 0px #00000040;
}

#gameGrid .boxes:nth-child(1), #gameGrid .boxes:nth-child(4), #gameGrid .boxes:nth-child(7) {
    border-right: 3px solid #80808059;
}

#gameGrid .boxes:nth-child(3), #gameGrid .boxes:nth-child(6), #gameGrid .boxes:nth-child(9) {
    border-left: 3px solid #80808059;
}

#gameGrid .boxes:nth-child(1), #gameGrid .boxes:nth-child(2), #gameGrid .boxes:nth-child(3) {
    border-bottom: 3px solid #80808059;
}

#gameGrid .boxes:nth-child(7), #gameGrid .boxes:nth-child(8), #gameGrid .boxes:nth-child(9) {
    border-top: 3px solid #80808059;
}

.x {
    height: 104px;
    width: 26px;
    background: linear-gradient(180deg, var(--color-one), var(--color-two));
}

.x::before {
    height: inherit;
    background: linear-gradient(180deg, var(--color-one), var(--color-two));
}

.o {
    width: 90px;
    height: 90px;
    border: 28px solid var(--color-o);
}

.scoreBox {
    width: 110%;
    justify-content: space-between;
    padding: 37px 0px;
}

.scoreBox p {
    margin-left: 19px;
    font-size: 1.6rem;
    font-family: "Baloo Bhai 2", cursive;
}

.scores {
    font-family: sans-serif;
    font-weight: bolder;
    border-radius: 21px;
    padding: 4px 0px;
    width: 72px;
    font-size: 1.4rem;
    text-align: center;
    box-shadow: 0px 0px 23px 0px #00000045;
}

.scoreBox div.x-common {
    margin: 0px 13px;
    width: 14px;
    height: 45px;
    background: linear-gradient(180deg, #f58714, #f64d64);
}

.scoreBox div.x-common::before {
    height: inherit;
    background: linear-gradient(180deg, #f58714, #f64d64);
}

.scoreBox div.o-common {
    height: 40px;
    width: 40px;
    border: 12px solid #85e535;
}

#homeBtn {
    position: absolute;
    width: 2rem;
    right: 44%;
    bottom: 43px;
    font-size: 13px;
    font-weight: bolder;
}

@media only screen and (max-width: 400px) {
    /* Welcome Screen */
    #welcomeSection i {
        font-size: 3.5rem;
    }

    #welcomeBtnBox button {
        width: 18rem;
        font-size: 1.2rem;
        height: 2.5rem;
        margin: 11px 0;
    }

    #welcomeSection div div:nth-child(1) {
        width: 1.6rem;
        height: 8rem;
    }

    #welcomeSection div div:nth-child(1)::before {
        height: 14rem;
        left: 3rem;
    }

    #symbolBox {
        margin-bottom: 2.5rem;
    }

    /* Sign Section */
    #signForm div div {
        margin: 72px 0rem;
        height: 10rem;
    }

    #signSection p {
        font-size: 2rem;
    }

    #signForm button {
        font-size: 1.2rem;
        padding: 0.6rem 4rem;
    }

    #signForm div div:nth-child(1) label {
        height: 7rem;
        width: 1.7rem;
    }

    #signForm div div:nth-child(2) label {
        width: 5.7rem;
        height: 5.7rem;
        border: 1.6rem solid var(--color-o);
    }

    /* Game Scetion */
    .x {
        width: 19px;
        height: 75px;
    }

    .o {
        width: 60px;
        height: 60px;
        border-width: 18px;
    }

    .scoreBox p {
        margin-left: 9px;
        font-size: 1.4rem;
    }
}

@media only screen and (max-width: 520px) {
    #gameGrid {
        width: 84vmin;
        height: 100vmin;
        padding: 30px;
    }
}